body {text-align: center;}
p {font-family: sans-serif}
h1 {font-family: sans-serif;}
h2 {font-family: sans-serif; color: red}
a {font-family: sans-serif; color: red}
strong {font-family: sans-serif; color: red}
.Page
{background-color: #8F8E8E; color: white; text-align: justify}